@import url(reset.css);

$blue:#525FFB;
$grey: #B1AAAA;

:root {
    font-size: 10px;

}

body {
    margin: 0;
    background: url(assets/bg.png) no-repeat;
    background-size: cover;
    background-position: 0 -15rem;
    font-family: 'Poppins', sans-serif;
}


.body {

    margin: 2% 3.5%;

}

.mainMenu {
    min-height: 100vh;

    .wrapper {
        margin: 0 5em;
    }



    header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        color: $blue;
        font-size: 4.7em;
        font-weight: 1000;
    }

    .emptyButton {
        color: $blue;
        background-color: transparent;
        border: solid .1em $blue;
        font-size: 2em;
        border-radius: 2em;
        padding: 0.4em 1.5em;
        cursor: pointer;
        transition: background-color .5s;

    }

    .emptyButton:hover {
        background-color: #3b4bfa;
        color: white;
        transition-duration: .5s;
    }

    .flexBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .leftSideFlex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 2%;
    }


    h1 {
        font-size: 7em;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        margin: 0;
        line-height: 1.1em;
    }

    h4 {
        font-size: 2em;
        color: $grey;
        margin: 2em 8em 2em 0;
    }

    img {
        width: 50%;
        height: 50%;
    }
}


input {
    background-color: transparent;
    border: solid .1em $grey;
    font-size: 2em;
    border-radius: 2em;
    padding: 0.4em 1.5em;
    margin-right: 1em;
}

.fillButton {
    color: white;
    background-color: $blue;
    border: solid .1em $blue;
    font-size: 2em;
    border-radius: 2em;
    padding: 0.4em 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .5s;
}

.fillButton:hover {
    color: $blue;
    background-color: transparent;
    transition-duration: .5s;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: .5em 0;
}

p {
    font-size: 1.8em;
    display: block;
    color: grey;
}

.article1 {
    min-height: 80vh;
    margin: auto;
    text-align: center;



    .flexContainer {
        display: flex;
        justify-content: space-around;
        max-width: 90em;
        margin: auto;
        flex-wrap: wrap;
    }

    .flexItem {
        width: 27em;
        height: 37em;
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        transition-duration: .2s;
    }

    .flexItem:hover {
        padding: 1em;
    }

    img {
        width: 90%;
        margin: auto;
    }

    h3 {
        font-size: 3em;
        line-height: 1.2em;
        font-weight: 1000;
        margin: .3em;
        margin-top: -2em;
    }

    span {
        font-size: 1.4em;
        font-weight: bold;
        margin-bottom: 2em;
        line-height: 1.4em;
    }

    .flexItem1 {
        background-color: $blue;
        color: white;
    }

    .flexItem2 {
        background-color: #E9F0FF;
        margin-top: 8em;
    }

    .flexItem3 {
        background-color: #FFE7AA;
        margin-top: 3em;
    }
}

.article2 {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


    img {
        margin-right: 5em;
        height: 80%;
        width: 40%;
    }

    .flexItem {
        width: 40%;
    }



    button {
        margin: 1em 0;
    }
}

.article3 {
    margin-top: 5em;
    display: flex;
    justify-content: flex-end;

    .performance {
        margin-left: 5em;
        height: 80%;
        width: 40%;
    }

    .flexItem {
        width: 40%;


    }

    img {
        margin: 0;
        height: 5em;
        margin-right: 3em;
    }
}

.article4 {
    margin: auto;
    text-align: center;

    .howMuchUsers {
        font-size: 10em;
        color: $blue;
    }

    span {
        z-index: 10;
    }

    .imageBox {
        height: 50em;
        margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            border-radius: 50%;
            position: absolute;
            z-index: 0;
        }

    }

    h2 {
        position: relative;
        display: block;
        font-size: 5rem;
        font-weight: bold;
        padding: 0;
        margin: 2em 0 0;
    }

    form {
        margin-bottom: 20em;
    }
}


footer {
    background-color: grey;
    margin: 0;
    text-align: center;
    height: 3em;
    border-top: .3em solid grey;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        font-size: 2em;
        color: black;
    }
}

@media (max-width: 1000px) {
    body {
        text-align: center;
    }

    img.Big {
        display: none;
    }

    .mainMenu {

        .flexBox {
            height: 100%;
            margin-top: 10em;
        }

        h4 {
            text-align: center;
            margin: 2em 0;
        }
    }


    .article1 {
        .flexItem {
            margin: 0;
        }
    }

    .article2 {
        .flexItem {
            width: 100%;
        }
    }

    .article3 {
        .flexItem {
            width: 100%;
        }
    }






}